In [3]:
# Dependencies
import numpy as np
import pandas as pd

In [16]:
# Load data (FRED-MD)
df = pd.read_csv('current.csv')

# Remove the first row (transformation codes)
transformation_codes = df.iloc[0]  # Transformation codes can be applied if needed
df = df.iloc[1:]

# Set the first column as the index and datetime
df.set_index(df.columns[0], inplace=True)
df.index = pd.to_datetime(df.index)

# Dropna
fred_md = df.dropna().pct_change(periods=12).dropna() * 100
fred_md

,RPI,W875RX1,DPCERA3M086SBEA,CMRMTSPLx,RETAILx,INDPRO,IPFPNSS,IPFINAL,IPCONGD,IPDCONGD,...,DNDGRG3M086SBEA,DSERRG3M086SBEA,CES0600000008,CES2000000008,CES3000000008,UMCSENTx,DTCOLNVHFNM,DTCTHFNM,INVEST,VIXCLSx
sasdate,,,,,,,,,,,,,,,,,,,,,
1993-02-01,2.334507,1.953334,3.548236,4.695857,5.804047,4.856329,4.898205,5.014618,5.232623,12.788845,...,2.001756,3.286079,2.186712,1.755669,2.389381,25.872093,-8.210283,3.890566,12.034568,-20.092079
1993-03-01,1.919482,1.501152,3.078455,3.616901,5.243677,3.879546,4.101499,4.085749,4.353097,11.164696,...,1.619583,3.368143,2.181208,1.671512,2.296820,13.026316,-7.319977,3.065469,13.058849,-15.593582
1993-04-01,2.319357,2.186457,3.687010,3.462806,7.309862,3.373178,3.507288,3.540564,3.457162,9.654765,...,1.578869,3.309769,2.173913,1.597676,2.376761,10.880829,-8.182950,3.667547,13.399889,-16.875560
1993-05-01,1.766892,1.685164,3.512493,4.536203,7.737362,2.651489,2.559031,2.427567,2.057550,6.455111,...,1.401855,3.711246,2.339181,1.815541,2.282704,1.388889,-4.920273,3.016277,12.395537,-8.100217
1993-06-01,1.228370,0.979118,3.607759,4.402046,7.273734,2.826365,2.783297,2.668357,2.765289,6.998616,...,0.573814,3.730592,2.081599,1.008646,2.278703,1.368159,-3.194173,2.322032,12.373682,-11.868014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-01,2.860320,2.807436,2.859217,2.962110,1.965709,0.852210,0.959282,0.905626,1.677940,-0.016966,...,0.883754,3.789893,5.181172,4.370783,5.424886,6.230530,10.499164,2.685350,1.013585,-9.621099
2024-07-01,2.892198,2.630221,2.850001,2.730262,2.926267,-0.536517,-0.496161,-0.899567,-0.563216,-8.291252,...,1.040981,3.719313,5.192178,4.172746,5.629014,-7.132867,10.125778,2.631577,2.275719,4.157359
2024-08-01,2.841039,2.490346,2.902998,2.920245,1.982081,-0.079150,-0.205060,-0.338029,0.057267,-2.223146,...,-0.187691,3.808745,5.040323,3.827196,5.626888,-2.161383,9.369583,2.425998,4.184909,24.665763
2024-09-01,2.939655,2.362002,3.187457,3.112360,2.033730,-0.688426,-0.702425,-1.010834,-0.176505,-2.977686,...,-0.807055,3.675475,5.150502,4.196816,5.597295,3.392330,8.753478,2.226039,5.528505,17.399484
2024-10-01,3.088720,2.415184,3.193596,2.956919,3.006728,-0.480317,-1.016353,-1.466154,-0.105010,-1.589854,...,-0.652504,3.890390,5.271939,4.470724,5.590994,10.501567,8.012918,2.280447,7.309755,4.733753

In [ ]:
# Load transaction data (https://www.kaggle.com/datasets/ealaxi/paysim1)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.500,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.000,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.000,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.000,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.000,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410190,3397190,0,10360974,300.000,W,9500,321.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410191,3397191,0,10361003,58.950,W,4030,174.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410192,3397192,0,10361011,100.000,R,15497,490.0,150.0,visa,226.0,...,mobile safari generic,32.0,1136x640,match_status:1,T,F,T,F,mobile,iOS Device
410193,3397193,0,10361022,39.000,W,2753,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410194,3397194,0,10361030,7.372,C,9633,130.0,185.0,visa,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN